/*Color Palette: 
Gold: #cea23d
Red: #b7301d
Green: #b0cb96
Black: #272d2d
Grey: #6f8695
*/
/*All pages*/
*{
    margin: 0px;
    padding: 0px;
}
.top-navbar{
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-position: center;
    text-align: center;
}

#navbar-container {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #b7301d;
}
#navbar-container ul {
    list-style-type: none;
}
#navbar-container a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 1.2em;
}
#navbar-container a:hover:not(.onpage) {
    background-color: #9f2919; /*Silightly darker red as accents*/
} 
#navbar-container .onpage {
    background-color: #cea23d;
}

/*Home Page*/
#homeNav{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../media/car1.jpg);
}
/*About Us Page*/
#aboutNav{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../media/car3.jpg);
}
/*Purchase Page*/
#purchNav{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../media/parts.jpg);
}
/*
.purchase h1{
    color: #b0cb96;
    padding: 10px 0px 0px 10px ;
}*/
#PurchaseNote{
    padding: 5px;
}
