/*Color Palette:
Gold: #cea23d
Red: #b7301d
Green: #b0cb96
Black: #272d2d
Grey: #6f8695
*/
/*All pages*/
*{
  margin: 0px;
  padding: 0px;
}
body {
  font-family: 'Cinzel', serif;
  color: #272d2d;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  }
.logo{
  float: left;
}
.logo a{
  text-decoration: none;
  color: #fff;
  padding: 10px;
}
.top-navbar{
  height: 70vh;
  width: 100%;
  background-size: cover;
  background-position: center;
}
#navbar-container {
  background-color: #b7301d;
  width:100%;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color:#fff;
}
#navbar-container .logo {
  display: flex;
  align-items: center;
  padding: 0px;
  float: right;
}
#navbar-container ul {
  list-style-type: none;
  display: flex;
  justify-content: right;
  align-items: center;
  flex: 1;
}
#navbar-container ul li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 1.2em;
}
#navbar-container a:hover:not(.onpage) {
  background-color: #9f2919;
}
#navbar-container .onpage {
  background-color: #cea23d;
}
footer{
  background-color: #6f8695;
  color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
}
/*Home Page*/
#homeNav{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../media/roverhome.jpeg);
}
#title{
    padding: 10px 0px 0px 10px;
    text-align: center;
  }
.intro,
.notice,
.hours,
.services,
.contact-info {
  text-align: center;
  }
  .intro h2,
  .notice h2,
  .hours h2,
  .services h2,
  .contact-info h2 {
    font-weight: bold;
  }
.fb-like-container {
  text-align: center;
  margin: 20px;
}
.fb-like {
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
}
.fb-like iframe {
  border: none;
  overflow: hidden;
  height: 27px !important;
}
.fb-like span {
  vertical-align: middle;
  display: inline-block;
  margin-top: -3px;
}
.products {
    padding: 50px 0;
  }
  
  .product-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .product {
    width: 300px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #b7301d;
    border-radius: 8px;
    text-align: center;
  }
  
  .product img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
  }
  
  .price {
    font-weight: bold;
    color: #55150d;
  }
  
/*About Us Page*/
#aboutNav{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../media/cover.jpg);
  height: 70vh;
  background-size: cover;
}
.content {
  text-align: center;
  padding: 20px;
}
.content h1, .content h2 {
  text-align: center;
  font-size: 1.5em;
}
.content h1 {
  position: relative;
  font-size: 16px;
  font-weight: bolder;
  display: inline-block;
  font-size: 3em;
  padding-top: 20px;
  padding-bottom: 10px;
}
.content h1::after {
  content: "";
  display: block;
  width: 100%;
  border-bottom: 4px solid #b0cb96;
  position: absolute;
  bottom: 0;
  left: 0;
}
.content h2 {
  font-size: 1.5em;
  font-weight: bold;
  padding-top: 50px;
  padding-bottom: 20px;
}
.paragraphs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.p1-loc {
  padding: 10px;
  overflow: hidden;
  width: 100%;
  margin-top: 1%;
}
.p2-loc {
  padding: 10px;
  overflow: hidden;
  width: 100%;
  margin-top: 1%;
}
.p3-p6-loc {
  padding: 10px;
  overflow: hidden;
  width: 100%;
  margin-top: 1%;
}
.p1-loc img {
  float: none;
  margin-right: 0;
  padding-right: 0;
  height: auto;
  width: 100%;
}
.p2-loc img {
  float: none;
  margin-right: 0;
  padding-right: 0;
  height: auto;
  width: 100%;
}
.p3-p6-loc img {
  float: none;
  margin-right: 0;
  padding-right: 0;
  height: auto;
  width: 100%;
  padding-bottom: 20px;
}
.p1-loc p {
  font-size: 1em;
  text-align: justify;
  font-weight: bold;
  line-height: 1.5;
  display: block;
  margin: 2px 0 0 0;
}
.p2-loc p {
  font-size: 1em;
  text-align: justify;
  font-weight: bold;
  line-height: 1.5;
  display: block;
  margin: 2px 0 0 0;
}
.p3-p6-loc p {
  font-size: 1em;
  text-align: justify;
  font-weight: bold;
  line-height: 1.5;
  display: block;
  margin: 2px 0 0 0;
}
#p1 {
  padding-top: 20px;
  padding-bottom: 10px;
}
#p2 {
  padding-top: 20px;
  padding-bottom: 10px;
}
#p3 {
  padding-bottom: 10px;
}
#p4, #p5, #p6{
  padding-bottom: 20px;
}
#p2{
  padding-top: 10px;
}
.slider-section{
  min-height: 100vh;
  display: grid;
  place-items: center;
  padding-top: 0;
}
#gallery {
  border-bottom: 6px solid #b0cb96;
  font-size: 30px;
  font-weight: bolder;
  margin-top: -20;
  margin-bottom: 0;
}
.slider {
  height: 200px;
  width: 300px;
  display: grid;
  place-items: center;
  padding: 15px;
  perspective: 100px;
}
.slider img {
  height: 100%;
  width: 100%;
  transition: transform 1s;
}
.image-slider {
  display: grid;
  place-items: center;
  position: relative;
  overflow: hidden;
  height: 250px;
  width: 100%;
}
.slider-track {
  display: flex;
  width: calc(500px*12);
  animation: play 40s linear infinite;
}
.image-slider::before, .image-slider::after {
  background: linear-gradient(to right, #6f8695 100%);
  content: '';
  height: 100%;
  width: 15%;
  z-index: 6;
  position: absolute;
}
.image-slider::before {
  left: 0;
  top: 0;
}
.image-slider::after {
  background: linear-gradient(to left, rgba(49, 49, 49, 0.867)0%, rgba(255, 255, 255, 0)100%);
  left: 0;
  top: 0;
}
.slider img:hover {
  transform: translateZ(20px);
}
@keyframes play{
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px*6));
  }
}
/*Purchase Page*/
#purchNav{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../media/parts.jpg);
}
#purchH1{
  padding: 10px 0px 0px 10px;
  text-align: center;
}
#purchNote{
  padding: 10px;
}
#purchNote p{
  text-align: center;
}
#purchNote ul li{
  margin-left: 10px;
}
.order{
  background-color: #b0cb96;
  padding: 10px;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  justify-self: center;
}
.order input{
  width: 100%;
  margin: 5px;
  border: none;
}
.order textarea{
  width: 100%;
}
.order input[type=submit]{
  font-family: inherit;
  background-color: #fff;
  transition: .5s;
  width: 100%;
  padding: 5px;
  margin-right: auto;
  margin-left: auto;
}

input[type=submit]:hover {
  background-color: #869a73; 
  color: #fff; 
}
/* media quearies for all pages*/

/* collapsing nav bar */
@media (min-width:900px) { 

}
/*media queries for About Us*/

@media (min-width: 1024px) {
  .content {
    text-align: center;
    padding: 20px;
  }
  .content h1, .content h2 {
    text-align: center;
  }
  .content h1 {
    position: relative;
    font-weight: bolder;
    display: inline-block;
    font-size: 3em;
    padding-top: 90px;
    padding-bottom: 2px;
  
  }
  .content h1::after {
    content: "";
    display: block;
    width: 100%;
    border-bottom: 6px solid #cea23d;
    position: absolute;
    bottom: 0;
    left: 0;
    
  }
  .content h2 {
    font-size: 1.5em;
    font-weight: bold;
    padding-top: 70px;
    padding-bottom: 30px;
  }
  .paragraphs {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .p1-loc {
    padding: 60px;
    overflow: hidden;
    width: 100%;
    margin-top: 1%;
    display: flex;
    align-items: center;
  }
  .p2-loc {
    padding: 20px;
    overflow: hidden;
    width: 100%;
    margin-top: 1%;
  }
  .p3-p6-loc {
    padding: 20px;
    overflow: hidden;
    width: 100%;
    margin-top: 1%;
  }
  .p1-loc img {
    float: left;
    margin-right: 15px;
    padding-right: 30px;
    height: 400px;
    width: 450px;
  }
  .p2-loc img {
    float: right;
    margin-right: 15px;
    padding-left: 30px;
    height: 400px;
    width: 450px;
  }
  .p3-p6-loc img {
    float: left;
    margin-right: 15px;
    padding-right: 30px;
    height: 550px;
    width: 400px;
  }
  .p1-loc p {
    font-size: 1.1em;
    text-align: justify;
    font-weight: bold;
    line-height: 1.5;
    display: block;
    margin: 2px 0 0 0;
  }
  .p2-loc p {
    font-size: 1.1em;
    text-align: justify;
    font-weight: bold;
    line-height: 1.5;
    display: block;
    margin: 2px 0 0 0;
  }
  .p3-p6-loc p {
    font-size: 1.1em;
    text-align: justify;
    font-weight: bold;
    line-height: 1.5;
    display: block;
    margin: 2px 0 0 0;
  }
  #p1 {
    padding-bottom: 10px;
  }
  #p2 {
    padding-bottom: 10px;
  }
  #p3 {
    padding-bottom: 10px;
  }
  #p4, #p5, #p6{
    padding-bottom: 10px;
  }
  #p2{
    padding-top: 95px;
  }
  #gallery {
    border-bottom: 6px solid #cea23d;
    font-size: 40px;
    font-weight: bolder;
    margin-top: -20;
    margin-bottom: 0;
  }
}
/*media queries for Home*/

/*media queries for Purchase*/