/* Color Palette:
Gold: #cea23d
Red: #b7301d
Green: #b0cb96
Black: #272d2d
Grey: #6f8695
*/
/* All pages */
* {
  margin: 0px;
  padding: 0px;
}
body {
  color: #272d2d;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4{
  font-family: 'Cinzel', serif;
}

.logo {
  float: left;
}
.logo a {
  text-decoration: none;
  color: #fff;
  padding: 10px;
}
.top-navbar {
  font-family: 'Cinzel', serif;
  height: 70vh;
  width: 100%;
  background-size: cover;
  background-position: center;
}
#navbar-container {
  background-color: #b7301d;
  width:100%;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color:#fff;
}
#navbar-container .logo {
  display: flex;
  align-items: center;
  padding: 0px;
  float: right;
}
#navbar-container ul {
  list-style-type: none;
  display: flex;
  justify-content: right;
  align-items: center;
  flex: 1;
}
#navbar-container ul li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 1.2em;
}
#navbar-container a:hover:not(.onpage) {
  background-color: #9f2919;
}
#navbar-container .onpage {
  background-color: #cea23d;
}
footer{
  background-color: #6f8695;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  padding: 20px;
  margin: auto;
}

/*Home Page*/
#homeNav{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../media/roverhome.jpeg);
}
#title {
  padding: 10px 0px 0px 10px;
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 1%;
}
strong {
  font-weight: bolder;
}
.intro {
  max-width: 700px;
  margin: 0 auto;
}
.intro,
.notice,
.hours,
.services,
.contact-info {
  text-align: center;
  padding: 10px 0px 0px 10px;
  }
.intro h2,
.notice h2,
.hours h2,
.services h2,
.contact-info h2 {
  font-weight: bolder;
  font-size: 22px;
  padding-top: 18px;
  padding-bottom: 10px;
}
.intro p,
.notice p,
.contact-info p,
.hours ul,
.services ul {
  font-family: 'Titillium Web', sans-serif;
  font-size: 20px;
  line-height: 1.5;
}
.notice {
  max-width: 680px;
  margin: 0 auto;
}
.hours {
  max-width: 330px;
  margin: 0 auto;
}
.contact-info {
  max-width: 380px;
  margin: 0 auto;
}
.fb-like-container {
  text-align: center;
  margin: 20px;
}
.fb-like {
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
}
.fb-like iframe {
  border: none;
  overflow: hidden;
  height: 27px !important;
}
.fb-like span {
  vertical-align: middle;
  display: inline-block;
  margin-top: -3px;
}
.products {
  padding: 50px 0;
  line-height: 1.5;
  }
.products h2{
  font-weight: bolder;
  font-size: 22px;
  margin-left: 80px;
}
.products h3 {
  font-weight: bolder;
}
.products p {
  font-family: 'Titillium Web', sans-serif;
  font-size: 20px;
}
.product-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.product {
  width: 300px;
  padding: 20px;
  margin: 20px;
  border: 1px solid #b7301d;
  border-radius: 8px;
  text-align: center;
}
.product img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
}
.price p {
  font-family: 'Titillium Web', sans-serif;
  font-weight: bolder;
  color: #55150d;
  padding-top: 10px;
}

/*About Us Page*/
#aboutNav {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../media/cover.jpg);
  height: 70vh;
  background-size: cover;
}
.content {
  text-align: center;
  padding: 20px;
}
.content h1,
.content h2 {
  text-align: center;
  font-size: 1.5em;
}
.content h1 {
  position: relative;
  font-size: 16px;
  font-weight: bolder;
  display: inline-block;
  font-size: 3em;
  padding-top: 20px;
  padding-bottom: 10px;
}
.content h1::after {
  content: "";
  display: block;
  width: 100%;
  border-bottom: 4px solid #b0cb96;
  position: absolute;
  bottom: 0;
  left: 0;
}
.content h2 {
  font-size: 1.5em;
  font-weight: bold;
  padding-top: 50px;
  padding-bottom: 20px;
}
.paragraphs {
  font-family: 'Titillium Web', sans-serif;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  padding-left: 20px;
}
.p1-loc,
.p2-loc,
.p3-p6-loc {
  padding: 10px;
  overflow: hidden;
  width: 100%;
  margin-top: 1%;
}
.p1-loc img,
.p2-loc img,
.p3-p6-loc img {
  float: none;
  margin-right: 0;
  padding-right: 0;
  height: auto;
  width: 100%;
  padding-bottom: 20px;
}
.p1-loc p,
.p2-loc p,
.p3-p6-loc p {
  font-family: 'Titillium Web', sans-serif;
  font-size: 20px;
  text-align: justify;
  line-height: 1.5;
  display: block;
  margin: 2px 0 0 0;
  padding-left: 5px;
}
#p1 {
  padding-top: 20px;
  padding-bottom: 10px;
}
#p2 {
  padding-top: 10px;
  padding-bottom: 10px;
}
#p3 {
  padding-bottom: 10px;
}
#p4,
#p5,
#p6 {
  padding-bottom: 20px;
}
.slider-section {
  min-height: 100vh;
  display: grid;
  place-items: center;
  padding-top: 0;
}
#gallery {
  border-bottom: 6px solid #b0cb96;
  font-size: 30px;
  font-weight: bolder;
  margin-top: -20px;
  margin-bottom: 0;
}
.slider {
  height: 200px;
  width: 300px;
  display: grid;
  place-items: center;
  padding: 15px;
  perspective: 100px;
}
.slider img {
  height: 100%;
  width: 100%;
  transition: transform 1s;
}
.image-slider {
  display: grid;
  place-items: center;
  position: relative;
  overflow: hidden;
  height: 250px;
  width: 100%;
}
.slider-track {
  display: flex;
  width: calc(500px * 12);
  animation: play 40s linear infinite;
}
.image-slider::before,
.image-slider::after {
  background: linear-gradient(to right, #6f8695bf 0%, #6f8695 100%);
  content: '';
  height: 100%;
  width: 15%;
  z-index: 6;
  position: absolute;
}
.image-slider::before {
  left: 0;
  top: 0;
}
.image-slider::after {
  background: linear-gradient(to left, rgba(49, 49, 49, 0.867) 0%, rgba(255, 255, 255, 0) 100%);
  left: 0;
  top: 0;
}
.slider img:hover {
  transform: translateZ(20px);
}
@keyframes play {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 6));
  }
}
/*Purchase Page*/
#purchNav{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../media/parts.jpg);
}
.purchH1 {
  text-align: center;
  font-weight: bolder;
  font-size: 2em;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0;
}
.purchH1::after {
  content: "";
  display: block;
  width: 12%;
  border-bottom: 4px solid #b0cb96;
  margin: 0 auto;
}
.purchNote{
  padding: 10px;
  padding-bottom: 20px;
}
.purchNote h3{
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 20px;
  margin: 2px 0 0 0;
  padding-left: 10px;
}
.purchNote p{
  font-weight: bolder;
  text-align: center;
  padding-top: 20px;
}
#purchEndnote{
  padding: 10px;
}
#purchEndnote p{
  text-align: center;
  margin-top: auto;
  margin-left: auto;
}
.purchNote ul li{
  font-family: 'Titillium Web', sans-serif;
  font-size: 20px;
  margin-left: 10px;
  line-height: 1.5;
}
.order{
  background-color: #b0cb96;
  padding: 20px 0px 20px 0px;
  width: 100%;
  justify-self: center;
}
.order label{
  margin: 10px;
}
.order input{
  font-weight: bold;
  width: 100%;
  margin: 5px;
  padding: none;
  border: none;
  display: flex;
  flex-direction: row;
}
.order textarea{
  width: 100%;
}
.order input[type=submit]{
  font-family: inherit;
  background-color: #fff;
  transition: .5s;
  width: 100%;
  padding: 5px;
  margin-right: auto;
  margin-left: auto;
}
input[type=submit]:hover {
  background-color: #869a73;
  color: #fff;
}
.selections {
  position: relative;
  width: 40%;
  padding: 10px;
}
.selections select {
  display: none; 
}
.select-selected {
  background-color: #869a73;
}
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}
.select-items {
  position: absolute;
  background-color: #869a73;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}
.select-hide {
  display: none;
}
.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
/* Media query for medium screens */
@media (min-width: 900px) {
  #navbar-container{
    flex-direction:row;
  }
  footer{
    display: flex;
    flex-direction: row;
    width: auto;
  }
}
/* Media query for larger screens */
@media (min-width: 1024px) {
  .order{
    width: 40%;
    padding: 20px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  .order input{
    width: 25%;
    margin: 5px;
    border: none;
  }
  .content {
    text-align: center;
    padding: 20px;
  }
  .content h1, .content h2 {
    text-align: center;
  }
  .content h1 {
    position: relative;
    font-weight: bolder;
    display: inline-block;
    font-size: 3em;
    padding-top: 90px;
    padding-bottom: 2px;
  }
  .content h1::after {
    content: "";
    display: block;
    width: 100%;
    border-bottom: 6px solid #cea23d;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .content h2 {
    font-size: 1.5em;
    font-weight: bold;
    padding-top: 70px;
    padding-bottom: 30px;
  }
  .paragraphs {
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .p1-loc {
    padding: 60px;
    overflow: hidden;
    width: 100%;
    margin-top: 1%;
    display: flex;
    align-items: center;
  }
  .p2-loc {
    padding: 20px;
    overflow: hidden;
    width: 100%;
    margin-top: 1%;
  }
  .p3-p6-loc {
    padding: 20px;
    overflow: hidden;
    width: 100%;
    margin-top: 1%;
  }
  .p1-loc img {
    float: left;
    margin-right: 15px;
    padding-right: 30px;
    height: 400px;
    width: 450px;
  }
  .p2-loc img {
    float: right;
    margin-right: 15px;
    padding-left: 30px;
    height: 400px;
    width: 450px;
  }
  .p3-p6-loc img {
    float: left;
    margin-right: 15px;
    padding-right: 30px;
    height: 550px;
    width: 400px;
  }
  .p1-loc p,
  .p2-loc p,
  .p3-p6-loc p {
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
    text-align: justify;
    line-height: 1.5;
    display: block;
    margin: 2px 0 0 0;
  }
  #p1, #p2, #p3, #p4, #p5, #p6{
    padding-bottom: 10px;
  }
  #p2{
    padding-top: 95px;
  }
  #gallery {
    border-bottom: 6px solid #cea23d;
    font-size: 40px;
    font-weight: bolder;
    margin-top: -20px;
    margin-bottom: 0;
  }
}